@import 'tailwindcss';

@theme {
  /* breakpoints custom */
  --breakpoint-xs320: 20rem;      /* 320px */
  --breakpoint-xs420: 26.25rem;   /* 420px */
  --breakpoint-xs480: 30rem;      /* 480px */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes pulse-subtle {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }
}

.animate-pulse-subtle {
  animation: pulse-subtle 2s infinite;
}

.neon-text {
  text-shadow: 0 0 10px #a855f7, 0 0 20px #9333ea, 0 0 30px #7e22ce, 0 0 40px #9333ea,
    0 0 70px #c084fc;
  animation: pulse 2.5s infinite alternate;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 10px #a855f7, 0 0 20px #9333ea, 0 0 30px #7e22ce;
  }

  100% {
    text-shadow: 0 0 20px #c084fc, 0 0 40px #a855f7, 0 0 80px #9333ea;
  }
}